@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-color: #f4f4f5;
  --dark-color: #09090b;
}

body {
  color: var(--dark-color);
  background: var(--light-color);
  font-family: Arial, Helvetica, sans-serif;
}
