@import "tailwindcss";

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins.ttf");
  font-display: swap;
}

@theme {
  --font-poppins: "Poppins";
  --transition-duration-smooth: 400ms;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: theme("--font-poppins");
}

body::selection {
  background-color: theme(--color-red-100);
}

img {
  user-select: none;
}
